* {
    box-sizing: border-box;
    padding: none;
    margin: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}



.main-container {
    height: 500px;
    aspect-ratio: 9 / 16;
    display: flex;
    flex-direction: column;
    border: solid black 4px;
    border-radius: 5px;
}

.screen-container {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

.screen-container > * {
    border: solid black 4px;
    border-radius: 4px;;
}

.body-container {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    width: 85%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.screen {
    height: 40%;
    width: 80%;
}

.screen div {
    height: 50%;
}

.operation-container {
    display: flex;
    justify-content: space-between;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
}