* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body { min-height: 100%; }

body > * {
    border: solid black 2px;
}

body {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 90%;
}

header {
    grid-column-start: 1;
    grid-column-end: -1;
}

nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}