*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
}

.user-info-container {
  min-width: 30vw;

}

.generated-cv {
  min-width: 70vw;
  display: flex;
  justify-content: center;
  border: solid black  1px;
}

.generated-cv, .user-info-container {
  border: solid black 1px;
  height: 100vh;
}

form {
  display: grid;
  grid-template-columns: 15rem;
}

.personal-info,
.education-info,
.experience-info {
  text-align: center;
}