* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    height: 90vh;
    aspect-ratio:  9 /16 ;
}

div {
    border: solid black 2px;
    border-radius: 5px;
}

.screen-container {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 90%;
    height: 60%;
}

.buttons {
    width: 90%;
    aspect-ratio: 1 / 1;
}