* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    margin-top: 50px;
    height: 300px;
    width: 170px;
    border: solid black 2px;
    border-radius: 5px;
}

/* div {
    border: solid black 2px;
    border-radius: 5px;
} */

.screen-container {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;;
    border-radius: 10px;
}

.buttons {
    width: 90%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;
}
